<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>Menu
          </button>
          <a class="navbar-brand" href="#">Leverage</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#About">About</a></li>
            <li><a href="#Career">Career</a></li>
            <li><a href="#Vision">Vision</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <header>
       <div class="container">
       	   <div class="intro-text">
       	      <div class="intro-lead-in"> Who is NSD? </div>
              <div class="intro-heading"> Leverage </div>
           </div>
       </div>
    </header>
    <section id="About" class="about-me">
      <div class="container"> 
       <div class="row">
          <div class="col-xs-12 text-center">
             <h1 class="section heading"> About me</h1>
          </div>
       </div>

       <div class="content">
          <div style="text-align: right">
            <style>
             div{
               background-image: url('me.jpg');
             }
            </style>
          	<p style="font-size: 15px"> 저는 건국대학교 교육공학과 남상대입니다.<br/>
                Lever는 지렛대를 의미하는 것으로 작은 운동으로 큰 힘을 주는 도구입니다.<br/>
                Leverage라는 단어는 이러한 지렛대의 영향력을 의미하는 단어입니다.<br/>
                영향력있는 사람이 되고 싶다는 모토 아래 Leverage라는 단어는 제가 되고 싶은 이상향입니다.
            </p>
          </div>
       </div>
      </div>
    </section>
    <section id="Career" class="bg-light-gray">
      <div class="container">
       <div class="row">
          <div class="col-xs-12 text-center">
             <h1 class="section heading2"> Career</h1>
          </div>       	
       </div>
       <span class="row0">
          <div class="col-sm-6 col-md-4">
             <div class="thumbnail1">
                <img src="/assets/kscy.jpg" alt="" style="width: 100%; height: auto;">
                   <div class="caption">
                      <h3>KSCY</h3>
                      <p>한국청소년 학술대회</p>
                   </div>
             </div>
          </div>
       </span>
       <span class="row1">
          <div class="col-sm-6 col-md-4">
             <div class="thumbnail2">
                <img src="/assets/dream.jpg" alt="" style="width: 100%; height: auto;">
                   <div class="caption">
                      <h3>드림터치포올</h3>
                      <p>교육기부활동</p>
                   </div>
             </div>
          </div>
       </span>
       <span class="row2">
          <div class="col-sm-6 col-md-4">
             <div class="thumbnail3">
                <img src="/assets/SonT.jpg" alt="" style="width: 100%; height: auto;">
                   <div class="caption">
                      <h3>SonT</h3>
                      <p>학술동아리</p>
                   </div>
             </div>
          </div>
       </span>
      </div>    	
    </section>
    <section id="Vision">
       <div class="container">
       	<div class="row">
       	   <div class="col-xs-12 text-center">
       	      <h1 class="section heading3"> Vision</h1>
       	   </div>
           <div class="col-xs-12 text-center">
              <p> 미래를 예측하는 가장 좋은 방법은 미래를 만드는 것이다. <br/>
              피터 드러커 (Peter Ferdinand Drucker)</p>
           </div>
       	</div>
       </div>    	
    </section>